﻿.boxSender {
    background: #ff414d;
    width: 100%;
    margin-left: 3px;
    color: #fff;
}

.p_botm {
    margin-bottom: 1px;
    padding: 4px;
}

.pmargin {
    margin-bottom: 4px;
}

.boxSenderdetail {
    border: 1px solid #ccc;
    width: 100%;
    margin-left: 3px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ff414d;
    background-color: #f9f9f9;
}

    /* Style the buttons inside the tab */
    .tab a {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 7px 32px;
        transition: 0.3s;
        font-size: 13px;
        text-align: center;
        color: #215821 !important
    }


        .tab a:hover {
            background-color: #fff;
            border: 1px solid #ccc;
            border-bottom: none;
            border-top: none;
            color: #ff414d !important;
        }

        .tab a.active {
            background-color: #fff;
            border: 1px solid #ff414d;
            border-bottom: none;
            border-top: none;
            color: #ff414d !important;
        }

.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000000;
    background: #f1f5f6;
}

.table-sm th {
    padding: 3px;
    text-align: center;
    font-weight: 500;
}

.table-bordered th {
    border: 1px solid #000000;
}

.textboxamount {
    padding: 1px !important;
    /*width: 70% !important;*/
}

.table-sm td {
    padding: 10px;
    text-align: center;
    /*color: #828282;*/
}

.accountvalid {
    color: green;
    font-size: 22px;
}

.accountpending {
    color: #d47514;
    font-size: 22px;
}

.hidden {
    display: none;
}

.fltbtn {
    /*float: right;*/
    padding: 4px;
    margin-bottom: 4px;
    background: red;
    border: 1px solid red;
}

.scrolltable {
    overflow-y: auto;
    max-height: 600px;
}

.table thead th {
    position: sticky;
    top: 0;
    padding: 10px;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}

.panel-default {
    border-color: #ddd;
}

    .panel-default > .panel-heading {
        color: #fff;
        background-color: #ff414d;
        border-color: #ccc;
        padding: 10px;
    }

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-heading {
    padding: 6px 31px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-body {
    padding: 15px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.padding5px {
    padding: 5px !important;
}
